{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Mintel Solutions Limited is an innovative IT service provider company engaging its customer with software solutions, mobile integrations solutions (SMS, USSD, M-Banking, Mobile applications etc.), Payment card solutions integrations (Visa, Master Card, American Express, PayPal and Verve), hosted online applications and content.</p>
       <p>Our company offers customer oriented and unique services that enable their competitive advantage. We build long term relationships with customers in specific vertical industry segments offering a full complement of competitive, integrated, packaged offerings to which customers can benefit from the mobile channel by delivering services aimed at generating revenues, improving business efficiency and proactively managing relationships with customers through personalized interaction</p>
{% endblock content %}