{% extends "layout.html" %}
{% block content %}
    <h1>Welome to mintel</h1>
    {%if 'username' not in session %}
    <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="text-center mt-5 mb-4">
                  <h1>Employee Search</h1>
              </div>
              <form action="/" method="GET" class="mb-4">
                  <div class="input-group">
                      <input type="text" name="q" class="form-control" placeholder="Search by last name or department">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-primary">Search</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
    {% endif %} 
    <!-- Display Search Results -->
    {% if results %}
    <h2>Search Results</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Employee Name</th>
                            <th>Username</th>
                            <th>Employee Department</th>
                            <th>Date Hired</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result[0] }}</td> <!-- Last Name -->
                            <td>{{ result[1] }}</td> <!-- Username -->
                            <td>{{ result[2] }}</td> <!-- Department -->
                            <td>{{ result[3] }}</td> <!-- Date Hired -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{%  endblock content %}